@{
}

@model Book

<div class="col-5 card card-outline-primary m-5">
    <h4>@Model.Title</h4>
    <ul class="Container">
        <form method="post" asp-page="/Cart" style="float:right;">
            <input type="hidden" asp-for="@Model.BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button class="btn btn-primary">Add to Cart</button>
        </form>
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Isbn: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
        <span class="badge badge-pill badge-primary p-2" style="float:right"> <b>$@(Math.Round(Model.Price,2))</b></span>
    </ul>

</div>